<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="go.id.kominfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ACTIVITY.DetailBannerActivity"></activity>
        <activity android:name=".ACTIVITY.VerifikasiOtpActivity" />
        <activity android:name=".ACTIVITY.DetailProductActivity" />
        <activity
            android:name=".ACTIVITY.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ACTIVITY.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ACTIVITY.SalesOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ACTIVITY.KeranjangActivity" />
        <activity android:name=".ACTIVITY.ProsesActivity" />
        <activity android:name=".ACTIVITY.NewProductActivity" />
        <activity
            android:name=".ACTIVITY.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ACTIVITY.StatistikActivity" />
        <activity
            android:name=".ACTIVITY.FlashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>