<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="go.id.kominfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="go.id.kominfo.DetailProductActivity"></activity>
        <activity android:name="go.id.kominfo.RegisterActivity" />
        <activity android:name="go.id.kominfo.MainActivity" />
        <activity android:name="go.id.kominfo.SalesOrderActivity" />
        <activity android:name="go.id.kominfo.KeranjangActivity" />
        <activity android:name="go.id.kominfo.ProsesActivity" />
        <activity android:name="go.id.kominfo.NewProductActivity" />
        <activity android:name="go.id.kominfo.FlashScreenActivity" />
        <activity android:name="go.id.kominfo.StatistikActivity" />
        <activity
            android:name="go.id.kominfo.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>